<h3>ショッピングカート</h3>
<%= link_to "カートを空にする", %>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% each do |cart_product| %>
      <tr>
        <td><%= cart_product.name %></td>
        <td><%= cart_product.price %></td>
        <td></td>
        <td><%= cart_product.price.to_i * cart_product.amount.to_i %></td>
        <td><%= link_to "削除する",%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "買い物を続ける", %>

<p>合計金額</p>

<%= link_to "情報入力に進む", %>