<h3>商品一覧</h3>
<%= @products.where(is_active: "true").count %>
<table>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <% if product.is_active? %>
        <td><%= link_to admin_product_path(product) do %>
          <%= image_tag product.get_image_id, size: '50x50' %>
        <% end %></td>
        <td><%= link_to product.name,product_path(product.id) %></td>
        <td><%= product.add_tax_price %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>