<div class='container'>
  <div calss="row">
      <h3 class="col-outo text-ccenter float-left test-box", style="background:#eeeeee;"><b>商品一覧</b></h3>
  </div>
  <div class="row float-right ">
      <%= link_to  new_admin_product_path do %>
      <button type="button"class="btn btn-link rounded-circle p-0 box-shadow-sm shadow p-3 mb-5 bg-body rounded text-dark", style="width:4rem;height:4rem;">+</button>
      <% end %>
  </div>
     <table class='table border-bottom border-ligth'>
          <thead style="background:#eeeeee;">
            <tr>
              <th scope="col">商品ID</th>
              <th scope="col">商品名</th>
              <th scope="col">税抜価格</th>
              <th scope="col">ジャンル</th>
              <th scope="col">ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
              <tr>
                <td><%= product.id %></td>
                <td><%= link_to product.name,admin_product_path(product) ,class:'border-bottom col-aut text-dark' %></td>
                <td><%= product.price %></td>
                <td><%= product.genre.name %></td>
                <td><% if product.is_active? %>
                      <p class="text-success">販売中</p>
                    <% else %>
                      <p class="text-black-50">販売停止中</p>
                    <% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
</div>