<h1>新規商品登録</h1>
<%= form_with model: @product, local:true do |f| %>

<%= f.label :image %>
<%= f.file_field :image_id, accept: "image/*" %><br>

<%= f.label :name %>
<%= f.text_field :name %><br>

<%= f.label :introduction %>
<%= f.text_area :introduction %><br>

<%= f.label :genre %>
<%= f.collection_select :genre_id, @genre.all, :id, :name, {prompt: 'mcを選択してください'} %><br>
<!-- f.collection_select(オブジェクト名, メソッド名, 要素の配列, value属性の項目, テキストの項目 [, オプション or HTML属性 or イベント属性])  -->

<%= f.label :price %>
<%= f.text_field :price %><br>

<%= f.label :sale_status, '販売中', value: 1 %>
<%= f.radio_button :is_active, '1' %>
<%= f.label :sale_status, '販売停止中', value: 0 %>
<%= f.radio_button :is_active, '0' %>

<%= f.submit "保存" %>

<% end %>