<%= flash[:notice] %>
<div class='container'>
     <div calss="row align-items-start">
         <h3 class="text-center", style="background-color:#eee; width:120px; margin:10px 0 30px 100px;"><b>商品説明</b></h3>
    </div>
    <div class="form-group row">
        <div class="col-4 center-block">
            <%= image_tag @product.get_image_id, size: '220x150' %>
        </div>
        <div class="col-8">
            <div class="row row-cols-2">
                <p class="col">商品名</p>
                <p class="col"><%= @product.name %></p>
                <p class="col">商品説明</p>
                <p class="col"><%= @product.introduction %></p>
                <p class="col">ジャンル</p>
                <p class="col"><%= @product.genre.name %></p>
                <p class="col">税抜価格(税込価格）</p>
                <div class="col">
                    <%= @product.price %>(<%= @product.add_tax_price %>)円
                </div>
                <p class="col">販売ステータス</p>
                <% if @product.is_active? %>
                  <p class="col text-success">販売中</p>
                <% else %>
                  <p class="col text-black-50">販売停止中</p>
                <% end %>
            </div>
        </div>
        <%= link_to "編集", edit_admin_product_path(@product), class: 'btn btn-success mx-auto center-block rounded-pill' %>
    </div>
</div>